{% extends 'admin/dashboard.html.twig' %}

{% block contenu %}

<section>
    <div class="container">
        <button class="btn btn-primary mt-5" type="button" data-bs-toggle="collapse" data-bs-target="#ajouter" aria-expanded="false" aria-controls="ajouter">Ajouter un utilisateur</button>
        {% if error %}
        <div>{{ error }}</div>
        {% endif %}
        <div class="collapse" id="ajouter">
            <form action="?controller=user&action=create" method="post">
                <div class="row">
                    <div class="col-md-3">
                        <label>Login</label>
                        <input class="form-control" type="text" name="login" id="login">
                    </div>
                    <div class="col-md-3">
                        <label>Mot de passe</label>
                        <input class="form-control" type="password" name="password" id="password">
                    </div>
                </div>
                <input type="hidden" name="role" value="Utilisateur">
                <input class="btn btn-success mt-3 mb-3" type="submit" value="Valider">
            </form>
        </div>
        <h3 class="mt-4">Utilisateurs</h3>
        <table class="table table-striped mb-5">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Login</th>
                    <th scope="col">Rôle</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for utilisateur in utilisateurs %}
                <tr>
                    <td>{{ utilisateur.id_user }}</td>
                    <td>{{ utilisateur.login }}</td>
                    <td>{{ utilisateur.role }}</td>
                    <td><button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#modifier{{ utilisateur.id_user }}" aria-expanded="false" aria-controls="modifier{{ utilisateur.id_user }}"><i class="bi bi-pencil-square"></i></button></td>
                    <td>
                        {% if utilisateur.role == 'Admin' %}
                        <button class="btn btn-danger disabled"><i class="bi bi-trash3"></i></button>
                        {% else %}
                        <a href="?controller=user&action=delete&id_user={{ utilisateur.id_user }}"><button class="btn btn-danger"><i class="bi bi-trash3"></i></button></a>
                        {% endif %}
                    </td>
                </tr>
                <div class="collapse offset-md-3" id="modifier{{ utilisateur.id_user }}">
                    <h5>Modifier {{ utilisateur.login }}</h5>
                    <form action="?controller=user&action=update" method="post">
                        <input type="hidden" name="id_user" value="{{ utilisateur.id_user }}">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Login</label>
                                <input class="form-control" type="text" name="login" id="login" value="{{ utilisateur.login }}">
                            </div>
                            <div class="col-md-3">
                                <label>Mot de passe</label>
                                <input class="form-control" type="password" name="password" id="password">
                            </div>
                        </div>
                        <input class="btn btn-success mt-3 mb-3" type="submit" value="Valider">
                    </form>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}