{% extends 'admin/dashboard.html.twig' %}

{% block contenu %}

<section>
    <div class="container">
        <h1 class="mt-4">Membres du bureau</h1>
        <a href="?controller=admin&action=createMembre"><button class="btn btn-primary">Ajouter un membre</button></a>
        <div class="row mt-5">
        {% for membre in membres %}
        
            <div class="col-md-4 card mb-4" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                    <img src="{{ membre.image }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ membre.titre }}</h5>
                        <button class="btn btn-warning">Modifier</button>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Modal{{ membre.id_article }}">Supprimer</button>
                    </div>
                    </div>
                </div>
            </div>
        
        
            <!-- Modal -->
            <div class="modal fade" id="Modal{{ membre.id_article }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Etes vous sûr de vouloir supprimer {{ membre.titre }} ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <a href="?controller=articles&action=delete&id_article={{ membre.id_article }}"><button type="button" class="btn btn-success">Valider</button></a>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

{% endblock %}